@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Nunito:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Baloo 2', sans-serif;
  --font-body: 'Nunito', sans-serif;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
